/* start of the menu cards style */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Roboto:wght@500&display=swap');

.cards {
    margin: 0 auto;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    font-family: sans-serif;  
    
}
.card {
    border: 3px solid yellow;
  
}
body{
    background: #000000;
}

.card-image {
    width: 100%;
    display: block;
    height: 150px;

    
    
    
}


.card-content {
    line-height: 1.5;
    font-size: 16px;
    padding: 10px;
    background: #000000;
    color: #ffffff;
    height: 200px;
    max-width: auto;
    
    
}

.card-content>p:first-of-type {
    margin-top: 0;
}

.card-content > p:last-of-type {
    margin-bottom:0;
}

.card-info {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #eeeeee;
    color: #5e5555;
    font-size: 0.9em;
    border-top: 3px solid #ffee00;
    
    

}

.card-info i {
    color: #343327;
    font-size: 1;
}

.card-link {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}

.card-link:hover {
    text-decoration: underline;
}
h2 {
    margin-left: auto;
    font-size: 40px;
    color: #FFF01F;
    text-align: center;
    color: #ffee00;
    font-family: inherit;
      }

      span{
        font-size: 22px;
        color: rgb(255, 230, 0);
  text-shadow:
   
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
      }
   
   
 