/* start of the menu cards style */
.cards {
    margin: 0 auto;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 35px;
    font-family: sans-serif;
    
    
}


.card {
    
   
   
    
}

.card-image {
    width: 98.5%;
    display: block;
    height: 150px;
    
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
    
}


.card-content {
    line-height: 1.5;
    font-size: 1em;
    padding: 15px;
    background: #fafafa;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
    
}

.card-content>p:first-of-type {
    margin-top: 0;
}

.card-content > p:last-of-type {
    margin-bottom: 0;
}

.card-info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eeeeee;
    color: #555555;
    font-size: 0.8em;
    

    border-bottom: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;

}

.card-info i {

    font-size: 1;
    margin-right: 8px;
}

.card-link {
    color: #64968c;
    text-decoration: none;
}

.card-link:hover {
    text-decoration: underline;
}
.menu-cards {
    background-color: #333333;
    height: auto;
    padding-top:10%;
    padding-bottom:10% ;
}